@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.menu_button{
    position: relative;
    background-color: #00d9ff;
    color: white;
    border: 0px solid #e6e6e6;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 10px;
    margin-left: 5px;
    margin-right: 10px;

    font-family: 'Orbitron', sans-serif;

}
